.container {
    margin: 5rem;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.container h1 {
    text-align: center;

}

.container form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.container form button {
    border: 2px solid var(--primary-color);
}
