.container {
    margin: 5rem;
    padding: 2rem;

    display: grid;
    grid-template-rows: 0.5fr 1fr;

    /*background: var(--strong-background);*/

    border: 3px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #7a7a7a;
    background: var(--light-background);

    color: var(--strong-text);
}

.container h1 {
    text-align: center;
}

.container form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.container form label {
    display: flex;
    align-items: center;
}

.container form div:not(:last-child) {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1rem;
}

.container form div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

